.f-container{
    justify-content: space-between;
}
.f-left span{
    margin-top: 1.2rem;
}
.f-menu{
    margin-top: 1.2rem;
    font-weight: 500;
}
.f-menu>span{
    margin-right: 0.9rem;
}

@media (max-width:768px) {
.f-container{
    justify-content: center;
} 
.f-container>div{
    align-items: center;
    text-align: center;
}

}